
body {
    font-family: Roboto;
}
p {
    font-family: Roboto;
}

.title{
margin-top: 0px;
line-height: 22px;
}
img{
width: 100%;
}

.video-preview{
display: inline-block;
vertical-align: top;
}

.video-preview .title{
font-size: 14px;
font-weight: 600;
margin-bottom: 0px;
}
.video-preview .name{
margin-top: 12px;
color: rgb(70, 70, 70);
margin-bottom: 0px;
font-size: 14px;

}
.video-preview .stats{
margin-top: 6px;
color: rgb(70, 70, 70);
font-size: 14px;
}

.video-info{
/* margin-left: 24px; */
display: inline-block;
margin-left: 24px;

}
.video-preview .inline img{
width: 40px;
border-radius: 40px;
}
.inline {
margin-top: 8px;
}
.inline {
display: grid;
grid-template-columns: 24px 1fr;
}
.header-image{
    width: 20px;
    height: 20px;
}
